<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../viewmodel/gameDetails.css" />
  <title>Games</title>
</head>

<body>
  <button class="back-button"><i class="fas fa-arrow-circle-left"></i></button>
  <div class="wrapper">
    <section>
      <img alt="Game image">
      <div class="section-content">
        <h3></h3>
        <p class="description "></p>
        <div>
          <span>Release Date:</span>
          <span class="releaseDate "></span>
        </div>
        <div>
          <span>Genre:</span>
          <span class="genre"></span>
        </div>
        <div>
          <span>Publisher:</span>
          <span class="publisher"></span>
        </div>
      </div>
    </section>
  </div>
  <script src="../models/Games.js"></script>
  <script src="../viewmodel/gameDetails.js"></script>
</body>

</html>